// 常用字体颜色 #333333；#666666；#999999  黑、深灰、灰色
// 背景色#eeeeee
// 分割线则采用#e5e5e5或#cccccc的颜色值，一个深一些，一个浅一些。

#app{
    font-size: 0.28rem;
    color: #333333;
    background-color: #eeeeee;
    border: 0.02rem solid #cccccc;
    
}
html,body,div,ul,li {
    padding: 0;
    margin: 0;
}
